<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- The name of the application, as it appears in the Finder. -->
    <key>CFBundleDisplayName</key>
    <string>{{APP_DISPLAY_NAME}}</string>
    
    <!-- A unique identifier for the app, usually in reverse DNS format. -->
    <key>CFBundleIdentifier</key>
    <string>{{BUNDLE_IDENTIFIER}}</string>

    <!-- The version number of the application. -->
    <key>CFBundleShortVersionString</key>
    <string>{{APP_VERSION}}</string>

    <!-- The build number of the application. -->
    <key>CFBundleVersion</key>
    <string>{{BUILD_NUMBER}}</string>

    <!-- The icon file for the application. -->
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>

    <key>CFBundleExecutable</key>
    <string>{{APP_NAME}}</string>

    <!-- The principal class that serves as the entry point for the app. (For Cocoa apps) -->
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <!-- The main nib or storyboard file that is loaded at app startup. -->
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    
</dict>
</plist>
