[Desktop Entry]
Name={{APP_DISPLAY_NAME}}
Exec=@EXEC@
Icon=@ICON@
Version={{APP_VERSION}}
Comment={{APP_SUMMARY}}
Terminal={{#WINDOWED}}false{{/WINDOWED}}{{^WINDOWED}}true{{/WINDOWED}}
Type=Application
Categories=Utility;
