[Desktop Entry]
Name={{APP_DISPLAY_NAME}}
Exec={{APP_NAME_LOWERCASE}}
Icon=${SNAP}/meta/icon.png
Version={{APP_VERSION}}
Comment={{APP_SUMMARY}}
Terminal=true
Type=Application
Categories=Utility;